@import url('https://fonts.googleapis.com/css2?family=Calistoga&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    list-style: none;
}

body {
    background-color: #141414;
    color: #FFF;
    font-family: "Inter";
    font-size: 18px;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.logo a {
    text-decoration: none;
    color: #FFF;
    font-size: 36px;
    font-family: "Calistoga";
    white-space: nowrap;
}

.logo a span {
    color: #FE6A0F;
}


/* HEADER */
header .container {
    display: flex;
    align-items: center;
    gap: 50px;
    margin-top: 45px;
    margin-bottom: 45px;
}

header nav {
    display: flex;
    align-items: center;
    flex: 1;
}

header nav .leftside {
    display: flex;
    flex: 1;
}

header nav li {
    margin: 0 30px;
}

header nav li a {
    text-decoration: none;
    color: #FFF;
}

header nav li a:hover {
    color: #999;
}

.button {
    display: block;
    padding: 15px 30px;
    border: 1px solid #FFF;
    border-radius: 5px;
    text-decoration: none;
    color: #FFF;
}

.button:hover {
    border-color: #999;
    color: #999;
}

header .menu {
    display: none;
    flex: 1;
    justify-content: flex-end;
}

header .menu-icones {
    width: 32px;
    height: 32px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
}


header .menu-icones div {
    background-color: #FFF;
    height: 6px;
}


/* HERO */

.hero .container {
    display: flex;
}

.hero .leftside,
.hero .rightside {
    flex: 1;
}

.hero .leftside {
    padding-bottom: 150px;
}

.hero .rightside {
    text-align: center;
}


.hero .rightside img {
    width: auto;
    height: 600px;
}

.hero .leftside h1 {
    font-size: 68px;
    line-height: 74px;
    font-family: "Calistoga";
    margin-bottom: 40px;
}

.hero .leftside p {
    font-size: 20px;
    line-height: 26px;
    margin: 40px 0;
}

.hero .leftside .button {
    display: inline-block;
    font-weight: 500;
    padding: 15px 80px;
    background-color: #FE6A0F;
    border: 0;
    text-decoration: none;
    color: #FFF;
}

.hero .button:hover {
    opacity: 0.8;
}

/* SEARCHE */

.search {
    background-color: #1F1F1F;
    padding: 80px 0;
    margin-top: -100px;
}

.search .title {
    font-size: 32px;
    font-weight: 500;
}

.search .sides {
    display: flex;
    gap: 100px;
    margin-top: 30px;
}

.search .lestside,
.search .rightside {
    flex: 1;
}

.search input,
.search select {
    width: 100%;
    padding: 20px;
    background-color: #2B2B2B;
    border: none;
    color: #FFF;
    font-size: 24px;
    outline: none;
    border-radius: 5px;
}

.search input {
    background-image: url("../imagens/searchIcon.png");
    background-repeat: no-repeat;
    background-position: 20px center;
    padding: 20px 60px;
}

.search select {
    border-right: 20px solid transparent;
}


/* Principal */

.products-grid{
    display:grid;
    grid-template-columns:repeat(3, 1fr);
    gap:20px;
    margin:40px 0;
}

.product-item{
    display:block;
    text-decoration:none;
    border-radius:8px;
    overflow:hidden;
    position:relative;
}

.product-item:hover{
    opacity:0.8;
}

.product-item .warning{
    position:absolute;
    top:30px;
    left:30px;
    color:#FFF;
    background-color:#FE6A0F;
    padding:10px 15px;
    border-radius:5px;
}

.product-item .photo{
    text-align:center;
    background-color:#2B2B2B;
    padding-top:30px;
}

.product-item .photo img{
    max-width:100%;
}

.product-item .info{
    background-color:#1F1F1F;
    padding:60px 30px 30px 30px;
    margin-top:-50px;
}

.product-category{
    color:#FFF;
    font-weight:500;
}

.product-name{
    font-family:"Calistoga";
    font-size:32px;
    color:#FFF;
    margin:10px 0;
}

.product-price{
    font-size:32px;
    font-weight:bold;
    color:#FE6A0F;
}


/* FOOTER */

footer{
    background-color:#1F1F1F;
}

footer .container{
    padding-top:80px;
    padding-bottom:80px;
    display:flex;
    align-items:center;
    justify-content:space-between;
}

footer .copyright{
    font-size:24px;
    color:#5F5F5F;
}

footer .copyright a{
    text-decoration:none;
    color:#5F5F5F;
}

footer .copyright a:hover{
    text-decoration:underline;
}


@media (max-width:820px) {
    header nav {
        display: none;
    }

    header .menu {
        display: flex;

    }

    .hero .container {
        flex-direction: column;
    }

    .hero .leftside {
        padding-bottom: 50px;
    }

    .hero .leftside {
        text-align: center;
    }

    .hero .leftside h1 {
        font-size: 45px;
        line-height: 50px;
        margin-bottom: 40px;

    }


    .hero .rightside img {
        height: 300px;
    }

    .search {
        padding-bottom: 40px;
    }

    .search .sides {
        flex-direction: column;
        gap: 30px;
    }

    .search .title {
        text-align: center;
    }

    .products-grid{
        grid-template-columns:repeat(2, 1fr);
    }

    footer .container{
        flex-direction:column;
        gap:20px;
    }

}

@media (max-width:500px){
    .products-grid{
        grid-template-columns:1fr;
    }
}